{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Registrar Pago{% endblock %}
{% block page_title %}Registrar Pago{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-7">
    <div class="card">
      <div class="card-header bg-success text-white py-3 px-4">
        <h6 class="mb-0"><i class="bi bi-cash me-2"></i>Nuevo Pago</h6>
      </div>
      <div class="card-body p-4">
        {% crispy form %}
        <a href="{% url 'lista_pagos' %}" class="btn btn-outline-secondary ms-2">Cancelar</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
